# URL del nodo RPC de la red Sepolia (Infura, Alchemy u otro proveedor)
# Reemplaza TU_INFURA_PROJECT_ID por tu project ID real de Infura
SEPOLIA_RPC_URL="https://sepolia.infura.io/v3/TU_INFURA_PROJECT_ID"

# Clave privada de la wallet que usará para desplegar y operar el contrato
# ⚠️ Nunca compartas esta clave privada públicamente
PRIVATE_KEY="TU_PRIVATE_KEY"

# Dirección del contrato KipuBank ya desplegado
# Ejemplo: "0xfB332fe29fcf946c25c0c17A93E9F1CAbCec4696"
KIPUBANK_CONTRACT="DIRECCION_DE_TU_KIPUBANK"


#Direccion del Token para hacer los cambios por USDC puedes usar otherToken
# Ejemplo: "0xfB332fe29fcf946c25c0c17A93E9F1CAbCec4696"
TOKEN_ADDRESS="Direccion del Token"
